/resources
/models/*/output
/models/*/output*
/models/*/pretrained_*
*.zip
*.rar
/export
node_modules
/resources
/data
htxt-inference-app/src/main/resources/*
htxt-inference-app/target/*
htxt-inference-app/.settings/*
htxt-inference-app/.project
htxt-inference-app/.classpath
